.hero__inner {
    height: 100vh;
    padding: 10px;
}

.card {
    max-width: 14rem;
}

.card-title {
    height: 35px;
}

.hero__list {
    width: 100%;
    height: 90vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    gap: 30px;
    overflow-y: scroll;
}

.bookmark__list {
    position: absolute;
    top: 70px;
    right: 30px;
    z-index: 2;
    max-height: 70vh;
    max-width: 350px;
    padding: 25px;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    border: 0.5px solid rgba(0, 0, 0, 0.237);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.btn__bookmark {
    background-color: rgba(15, 15, 170, 0.261);
}

.btn__bookmark:active {
    background-color: #ffffff7b;
}

.display {
    display: flex;
}

.footer__link {
    color: #fff;
    transition: all 0.2s ease;
}

.footer__link:hover {
    color: #ffffff79;
}

@media only screen and (max-width:576px) {
    .hero__inner {
        height: 145vh;
        padding: 10px;
    }
    .bookmark__list {
        top: 120px;
    }
}